<div class="page">
            <mat-form-field class="search" appearance="outline" color="accent">
                <mat-label>Search terms</mat-label>
                <input matInput type="text" [(ngModel)]="query">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
    
    <div class="results">

        <div *ngIf="(searchTerms() == false)">No matching results</div>

        <mat-card *ngFor="let item of searchTerms()s">
            <mat-card-header>
                <mat-card-title><h3>{{item.term}}</h3></mat-card-title>
            </mat-card-header>
            <mat-card-content>
                {{item.definition}}
            </mat-card-content>
        </mat-card>
    </div>
</div>