<div class="full-container">
    <!-- <video autoplay muted id="landing-video" class="video">
        <source src="assets/videos/e.mp4" type="video/mp4">
    </video> -->

    <div class="text">
        <div class="container">
            <video class="bg-video" #video (canplay)="video.play()" (loadedmetadata)="video.muted = true">
              <source src="assets/videos/e.mp4" type="video/mp4" />
            </video>
            <p class="text">{{text.title}}</p>
          </div>
    </div>
</div>