
<!-- <div class="big hide-lt-md">
  <video class="climate" #climate1 (canplay)="climate1.play()" (loadedmetadata)="climate1.muted = true" loop>
    <source src="assets/videos/climate.mp4" type="video/mp4" />
  </video>
  <video class="change" #change1 (canplay)="change1.play()" (loadedmetadata)="change1.muted = true" loop>
    <source src="assets/videos/change.mp4" type="video/mp4" />
  </video>

  <h1 class="title">{{title}}</h1>
</div>

<div class="small hide-gt-sm">
  <video class="climate" #climate (canplay)="climate.play()" (loadedmetadata)="climate.muted = true" loop>
    <source src="assets/videos/climate.mp4" type="video/mp4" />
  </video>
  <video class="change" #change (canplay)="change.play()" (loadedmetadata)="change.muted = true" loop>
    <source src="assets/videos/change.mp4" type="video/mp4" />
  </video>

  <h1 class="title">{{title}}</h1>
</div> -->

<!-- <div class="cfa">
  <p>We are just beginning to get a glimpse of climate change’s devastating effects. Discover how this issue affects us all. </p>
  <button mat-raised-button>Learn more</button>
</div> -->


<video class="bg" #climate (canplay)="climate.play()" (loadedmetadata)="climate.muted = true" loop>
  <source src="assets/videos/video-header.mp4" type="video/mp4" />
</video>