.small {
  width: 100%;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .climate {
    width: 90%;
  }

  .change {
    width: 80%;
  }

  .title {
    text-align: center;
    width: 100%;
    font-weight: 300px;
    text-transform: uppercase;
  }
  
}

.big {
  width: 100%;
  padding-top: 5%;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .climate {
    width: 40%;
    margin-right: 2%;
    position: relative;
  }

  .change {
    width: 40%;
    margin-left: 2%;
    position: relative;
  }

  .title {
    text-align: center;
    width: 100%;
    font-weight: 300px;
    text-transform: uppercase;
  }
}

