<div class="banner">
    <h1>Dawson Hamera</h1>
</div>


<mat-card>
    <mat-card-header>
        <mat-card-title>
            <h2>About me</h2>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <img src="assets/images/image_placeholder.png">
        <p>Quick story.......</p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button routerLink="/about">Learn More</button>
    </mat-card-actions>
</mat-card>
<mat-card>
    <mat-card-header>
        <mat-card-title>
            <h2 style="text-align: center; margin: auto;">My Work</h2>
        </mat-card-title>
    </mat-card-header>
</mat-card>
<div *ngIf="projects$ | async as projects">
<div class="projects" >
    <mat-card *ngFor="let project of projects.projects.projects">
        <mat-card-header>
            <mat-card-title>{{project.name}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <img alt="image" [src]="project.image">
            <mat-chip *ngFor="let tag of project.tags">
                {{tag}}
            </mat-chip>
        </mat-card-content>
    </mat-card>
</div>
</div>