@use '@angular/material' as mat;
@import "/src/styles.scss";

.banner {
    color: white;
    //background-image:  url("assets/images/website_banner.png");
  
    background-size:100%; //cover
 

 padding: 30px;
 text-align: center;
}

img {
    width: 50%;
}

.projects {
    display: flex;
    flex-wrap: wrap;

    mat-card { 
       width: 32%;
       margin: 1.3% auto 0 auto;
    }
}