<div class="flex-container">
    <mat-card class="filter-keywords description">
        <mat-card-header>
            <mat-card-title><h1>Fossil fuels</h1></mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>The main contributer to climate change today is fossil fuels. Fossil fuels is the burning of resources such as coal and oil in order to produce heat and energy. In the process of burning these fossil fuels, CO² or carbon dioxide is released. CO² is one of the most abundant greenhouse gases in our atmosphere </p>
        </mat-card-content>
    </mat-card>
</div>