<div class="container">
    <img src="assets/images/future.jpg" class="overlay-img">
    <div class="text">
        <h1 class="title">Planet Earth: 2050</h1>
        <p>Earth in the future will look much different from know. One might even say it resembles a dystopian move.</p>
    </div>
</div>


<div class="header"><h1>Welcome to the future</h1></div>

<div class="section red">
    <div class="cards">
    <div class="card">
        <h1>Heatwaves</h1>
            With rising temperatures, the world will be plagued with heatwaves, deeming already hot locations uninhabitable.
    </div>
    
    <div class="card">
        <h1>Fire</h1>
            With dry forests, high temperatures, and chaotic weather massive wildfires will dominate the landscape.
    </div>
    <div class="card">
        <h1>Drought</h1>
            Freshwater will evaporate vigorously into the atmosphere, causing record long droughts.
    </div>
</div>
    <div class="image">
        <img src="assets/images/fire.jpg">
    </div>
</div>

<div class="section blue">
    <div class="cards">
        <div class="card">
            <h1>Flooding</h1>
            With severe weather and rising sea levels, flash floods will become a normal occurrence.
        </div>
        <div class="card">
            <h1>Severe storms</h1> 
            With warmer temperatures and more water in the atmosphere, great storms will materialize, creating hurricanes that stretch across countries.
        </div>
        <div class="card">
            <h1>Rising sea levels</h1>
            Due to ice melt and warmer seas, coastal cities such as those in Florida, Louisiana, California, New York and New Jersey will be submerged under the ocean.
        </div>
    </div>
    <div class="image">
        <img src="assets/images/water.jpg">
    </div>
</div>


<div class="section green">
    <div class="cards">
        <div class="card">
            <h1>Loss of biodiversity</h1>
            Rising sea levels, record high temperatures, and increased disease will kill off millions of species
        </div>
        <div class="card">
            <h1>Famine</h1>
            Neccesary conditions for farming will be scarce, causing global famine and unrest. 
        </div>
        <div class="card">
            <h1>Poverty and displacement</h1>
            Millions of people will be displaced, fleeing from locations rendered uninhabitable. Unlucky souls will lose their livelyhoods to fire, floods, droughts, and storms.
        </div>     
    </div>
    <div class="image">
        <img src="assets/images/poverty.jpg">
    </div>
</div>


