<app-video-banner [text]="{title:'Meet the data', subtitle: 'In a world of politics and fake news, the only thing we can trust is the raw data'}"></app-video-banner>

<mat-card>
    <mat-card-header>
        <mat-card-title>
            <h1>Graphs</h1>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>Read these graphs</p>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-header>
        <mat-card-title>
            <h1>Maps</h1>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>See the changing world over time</p>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-header>
        <mat-card-title>
            <h1>Infographics</h1>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>Learn more with these easy to read visuals</p>
    </mat-card-content>
</mat-card>
