<app-video-banner title="Evidence"></app-video-banner>

<mat-card>
    <mat-card-header>
        <mat-card-title>
            <h1>Rise in carbon dioxide</h1>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <img src="assets/images/co2-graph.jpg">
        <p>In the beginning, carbon dioxide levels fluctuated in a natural cycle of highs and lows. However, ever since the industrial revolution, carbon dioxide levels have been on the steep incline. Known as the “hockey stick” graph, this graph is one of the biggest indicators of climate change. These measurements, made by scientists by painstakingly piercing together data from samples of ice cores, has a clear message. Because of humans, carbon dioxide levels have risen the fastest and farthest in all recorded time. The current climate change is not a natural phenomenon.</p>
        <p>*graph courtesy of nasa.gov</p>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-header>
        <mat-card-title>
            <h1>Glacier Retreat</h1>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/hlVXOC6a3ME?si=83bZoorpzkAF9BkG" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <p>See the changing world over time</p>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-header>
        <mat-card-title>
            <h1>Infographics</h1>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>Learn more with these easy to read visuals</p>
    </mat-card-content>
</mat-card>
