@use '@angular/material' as mat;

//Quick fix for icons not working, check later
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");


@import '../../../libs/shared/styles/breakpoints';

/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}
body {
  margin: 0;
}

.hide {
  display: none !important;
}

.hide-xs {
  @include breakpoint('xs') {
    display: none !important;
  }
}
.hide-gt-xs {
  @include breakpoint('gt-xs') {
    display: none !important;
  }
}
.hide-sm {
  @include breakpoint('sm') {
    display: none !important;
  }
}
.hide-gt-sm {
  @include breakpoint('gt-sm') {
    display: none !important;
  }
}
.hide-lt-md {
  @include breakpoint('lt-md') {
    display: none !important;
  }
}

@include mat.core();

$primary-palette: (
    50 : #e1e1e3,
    100 : #b5b5b8,
    200 : #848389,
    300 : #53515a,
    400 : #2e2c36,
    500 : #090713,
    600 : #080611,
    700 : #06050e,
    800 : #05040b,
    900 : #020206,
    A100 : #4d4dff,
    A200 : #1a1aff,
    A400 : #0000e6,
    A700 : #0000cd,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #ffffff,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);


$accent-palette: (
    50 : #eee4e3,
    100 : #d4bcb9,
    200 : #b7908b,
    300 : #9a645c,
    400 : #854239,
    500 : #6f2116,
    600 : #671d13,
    700 : #5c1810,
    800 : #52140c,
    900 : #400b06,
    A100 : #ff7f76,
    A200 : #ff4f43,
    A400 : #ff1f10,
    A700 : #f60f00,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);



$my-primary: mat.define-palette($primary-palette, 500);
$my-accent: mat.define-palette($accent-palette);
$my-warn: mat.define-palette(mat.$red-palette);

$accent-color: mat.get-color-from-palette($my-accent, 500);

$dark-theme: mat.define-dark-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
   warn: $my-warn,

 ),
 typography: mat.define-typography-config(),
 density: 0,
));

$light-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
   warn: $my-warn,

 ),
 typography: mat.define-typography-config(),
 density: 0,
));



// @include mat.all-component-themes($dark-theme);

.darkMode {
  @include mat.all-component-colors($dark-theme);
}
.lightMode {
  @include mat.all-component-colors($light-theme);
}