@use '@angular/material' as mat;

//Quick fix for icons not working, check later
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");


@import '../../../libs/shared/styles/breakpoints';

/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}
body {
  margin: 0;
}

.hide {
  display: none !important;
}

.hide-xs {
  @include breakpoint('xs') {
    display: none !important;
  }
}
.hide-gt-xs {
  @include breakpoint('gt-xs') {
    display: none !important;
  }
}
.hide-sm {
  @include breakpoint('sm') {
    display: none !important;
  }
}
.hide-gt-sm {
  @include breakpoint('gt-sm') {
    display: none !important;
  }
}
.hide-lt-md {
  @include breakpoint('lt-md') {
    display: none !important;
  }
}

@include mat.core();

$primary-palette: (
    50 : #e5e6e7,
    100 : #bfc1c3,
    200 : #94979b,
    300 : #696d72,
    400 : #494e54,
    500 : #292f36,
    600 : #242a30,
    700 : #1f2329,
    800 : #191d22,
    900 : #0f1216,
    A100 : #5b9dff,
    A200 : #287eff,
    A400 : #0062f4,
    A700 : #0057da,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$accent-palette: (
    50 : #eaf9f8,
    100 : #caf0ed,
    200 : #a7e6e2,
    300 : #83dcd6,
    400 : #69d5cd,
    500 : #4ecdc4,
    600 : #47c8be,
    700 : #3dc1b6,
    800 : #35baaf,
    900 : #25aea2,
    A100 : #ebfffd,
    A200 : #b8fff8,
    A400 : #85fff3,
    A700 : #6cfff0,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);



$my-primary: mat.define-palette($primary-palette, 500);
$my-accent: mat.define-palette($accent-palette);
$my-warn: mat.define-palette(mat.$red-palette);

$accent-color: mat.get-color-from-palette($my-accent, 500);

$dark-theme: mat.define-dark-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
   warn: $my-warn,

 ),
 typography: mat.define-typography-config(),
 density: 0,
));

$light-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
   warn: $my-warn,

 ),
 typography: mat.define-typography-config(),
 density: 0,
));



// @include mat.all-component-themes($dark-theme);

.darkMode {
  @include mat.all-component-colors($dark-theme);
}
.lightMode {
  @include mat.all-component-colors($light-theme);
}