
  
.video {
    width: 100%;
    height: auto;
    display: block;
    top:0;
    position: relative;
    

}

.text {
    opacity: 1;
    top: 50%;
    position: absolute;
    width: 100%;
    text-align: center;
   
    color: white;
}