<app-video-banner title=""></app-video-banner>

<mat-card>
    <mat-card-header>
        <mat-card-title><h1>What is climate Change?</h1></mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>Climate is the average weather conditions in an area in general or over a long period. Climate can include the average precipitation, temperature, humidity, and more. While the words climate and weather are often used interchangeably there is a big difference. Weather is the short-term conditions of the atmosphere while climate is the average weather over a long time. Currently, climate is measured using weather stations, weather balloons, radars, ships, buoys, and satellites.</p>
 <p>Additionally, the terms climate change and global warming are not the same thing. Global warming only refers to the unnatural, rapid warming of our planet, while climate change refers to the warming and its effects on climates in the long term. Climate change is the broader, more commonly used term for this issue.</p>
 
 
     
    </mat-card-content>
 </mat-card>
 
 
 

<div class="pages-cards">
    <div class="card">
        <img src="assets/images/hsgraph.jpg">
        <h1>Evidence</h1>
        <hr>
        <p>Climate change is a very real issue, supported by decades of evidence.</p>
    </div>
        <div class="card">
            <img src="assets/images/coalmine.jpg">
            <h1>Causes</h1>
            <hr>
            <p>Climate change is link to not one but many human activities.</p>
        </div> 

        <div class="card">
            <img src="assets/images/future.jpg">
            <h1>Effects</h1>
            <hr>
            <p>Climate change will make the planet a drastically different place.</p>
        </div>
        <div class="card">
            <img src="assets/images/solar.jpg">
            <h1>Solutions</h1>
            <hr>
            <p>What can we do to help?</p>
        </div>
</div>

<mat-card>
   <mat-card-header>
       <mat-card-title><h1>What is the climate?</h1></mat-card-title>
   </mat-card-header>
   <mat-card-content>
       <p>Climate is the average weather conditions in an area in general or over a long period. Climate can include the average precipitation, temperature, humidity, and more. While the words climate and weather are often used interchangeably there is a big difference. Weather is the short-term conditions of the atmosphere while climate is the average weather over a long time. Currently, climate is measured using weather stations, weather balloons, radars, ships, buoys, and satellites.</p>
<p>Additionally, the terms climate change and global warming are not the same thing. Global warming only refers to the unnatural, rapid warming of our planet, while climate change refers to the warming and its effects on climates in the long term. Climate change is the broader, more commonly used term for this issue.</p>


	
   </mat-card-content>
</mat-card>



 