.pages-cards {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  
}

.card {
    border-radius: 5px;
    flex: 0 0 auto;
    margin: 1%;
    background-color: #216b27;
    width: 40%;
    box-sizing: border-box;
 
    img {
        width: 100%;
    }

    h1 {
        text-align: center;
    }
    p {
        margin: 15px;
    }
}


.action-header {
    width: 100%;
    display: flex;
    background-image: linear-gradient(180deg, black,rgb(111, 33, 22));
    border-top: 2px solid rgba(255, 255, 255, 0);

    .action {
        width: 20%;
        text-align: center;
        flex:1 auto;        
        
        mat-icon {
            background-image: linear-gradient(0deg, black,rgba(17, 0, 255, 0.756));
            padding: 10px;
            border-radius: 100px;
            transform: scale(1.8);
        }
    }
}

video {
    width: 100%;
}