<app-video-banner title=""></app-video-banner>


<div class="action-header">
    <div class="action" routerLink="/evidence">
        <mat-icon>pollution</mat-icon>
        <h2>Evidence</h2>
        <p>What evidence do we have?</p>
    </div>
    <div class="action" routerLink="/causes">
        <mat-icon>factory</mat-icon>
        <h2>Causes</h2>
        <p>Why is this happening?</p>
    </div>
    <div class="action" routerLink="/impacts">
        <mat-icon>local_fire_department</mat-icon>
        <h2>Impacts</h2>
        <p>Why is happening as a result?</p>
    </div>
    <div class="action" routerLink="/solutions">
        <mat-icon>lightbulb</mat-icon>
        <h2>Solutions</h2>
        <p>Why can we do to help?</p>
    </div>
</div>

<mat-card>
    <mat-card-header>
        <mat-card-title><h1>What is Climate Change?</h1></mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>Climate change is a phenomenon that is caused by greenhouse gases such as carbon dioxide and methane. When these gases are released into the atmosphere, they reflect escaping radiation from the sun back towards the earth. This is known as the greenhouse effect. Just like a simple greenhouse lets light inside, but traps the heat from leaving, greenhouse gases act the same way with earth. As a result, the average temperatures have risen rapidly, leading to disastrous effects.</p>
        <video class="bg" #ge (canplay)="ge.play()" (loadedmetadata)="ge.muted = true" loop>
            <source src="assets/videos/greenhouseeffect.mp4" type="video/mp4" />
        </video> 
     
    </mat-card-content>
 </mat-card>
 
 
 

<div class="pages-cards">
    <div class="card">
        <img src="assets/images/co2-graph.jpg">
        <h1>Hockey stick</h1>
        <hr>
        <p>Explore the iconic graph of co2 emission over the decades.</p>
    </div>
        <div class="card">
            <img src="assets/images/coalmine.jpg">
            <h1>Causes</h1>
            <hr>
            <p>Climate change is link to not one but many human activities.</p>
        </div> 

        <div class="card">
            <img src="assets/images/future.jpg">
            <h1>Earth: 2050</h1>
            <hr>
            <p>The earth of the future will be a drastically different place.</p>
        </div>
        <div class="card">
            <img src="assets/images/solar.jpg">
            <h1>Renewable Energy</h1>
            <hr>
            <p>Naturally replenishable resources are certainly the way to go, but can we get them integrated fast enough?</p>
        </div>
</div>

<mat-card>
   <mat-card-header>
       <mat-card-title><h1>Climate vs. Weather</h1></mat-card-title>
   </mat-card-header>
   <mat-card-content>
       <p>Climate is the average weather conditions in an area in general or over a long period. Climate can include the average precipitation, temperature, humidity, and more. While the words climate and weather are often used interchangeably there is a big difference. Weather is the short-term conditions of the atmosphere while climate is the average weather over a long time. Currently, climate is measured using weather stations, weather balloons, radars, ships, buoys, and satellites.</p>
<p>Additionally, the terms climate change and global warming are not the same thing. Global warming only refers to the unnatural, rapid warming of our planet, while climate change refers to the warming and its effects on climates in the long term. Climate change is the broader, more commonly used term for this issue.</p>


	
   </mat-card-content>
</mat-card>



 